# binaries
/cavepacker
/caveexpress
/soundmapper
/jsonconvert
/tests*
/solutiontool
/build
/tiledgenerator
/textureatlas
/imgui.ini

# also binaries - but more generic
/*.exe
/*.zip
/*.tar.gz
/*.html*
/*.pexe
/*.js*
/*.data

# ---
/gmon.out
/.settings/
*.patch
*.layout
*.depends
/*.tga
/*.cbp
/*.project
/*.workspace*
/*.tags
/core
/.cproject
/.project
/*-source.tar*

/.idea
.cache
/*.ini
