# binaries
/cavepacker
/caveexpress
/soundmapper
/jsonconvert
/tests

# also binaries - but more generic
/*.exe
/*.zip
/*.tar.gz
/*.html*
/*.pexe
/*.js*
/*.data

# configure created
/*-config.h
/config.log
/Makefile.local

# build created
/debug-*/
/release-*/
/scale
/src/*/dir.h

# ---
/gmon.out
/.settings/
*.patch
*.layout
*.depends
*.ipa
/*.tga
/*.cbp
/*.project
/*.workspace*
/*.tags
/core
/android-ndk-*
/adt-bundle-*
/*.apk
/.cproject
/.project
/nacl_sdk
/naclgdb.init
/Debug
/*-source.tar*

CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile
complete.lua.in
