# binaries
/cavepacker
/caveexpress
/soundmapper
/jsonconvert
/tests*
/solutiontool
/build*
/tiledgenerator
/textureatlas
/imgui.ini
doxygen

# also binaries - but more generic
/*.exe
/*.zip
/*.tar.gz
/*.html*
/*.pexe
/*.js*
/*.data
*.js

# ---
/gmon.out
/.settings/
*.patch
*.layout
*.depends
/*.tga
/*.cbp
/*.project
/*.workspace*
/*.tags
/core
/.cproject
/.project
/*-source.tar*

/.idea
.cache
/*.ini
/android-project/.gradle
/android-project/local.properties
/android-project/app/build
/android-project/build
/cp-build-android
