Source: caveexpress
Section: games
Priority: optional
Maintainer: Martin Gerhardy <info@caveproductions.org>
Uploaders: Martin Gerhardy <info@caveproductions.org>
Build-Depends:
 debhelper (>= 9),
 pkg-config
Standards-Version: 3.9.4
Homepage: http://www.caveproductions.org

Package: caveexpress
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: CaveExpress is a classic 2D platformer.
 CaveExpress is a classic 2D platformer with physics-based gameplay
 and dozens of levels. Master your pedal-powered flying machine to
 pick up packages from your cave-dwelling clients and drop them off
 at the collection point.
 .
 But beware! Mighty mastodons, terrifying pterodactyls and others
 would rather see you extinct.
