#!/usr/bin/make -f
#export DH_VERBOSE=1
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

DPATH := $(abspath $(dir $(MAKEFILE_LIST)))
PKG := caveexpress
VER ?= $(shell dpkg-parsechangelog -l$(DPATH)/changelog |  perl -ne 'print $$1 if m{Version:\s*(\d[\d\.]*(?:\~(?:git)?\d+))}')

%:
	dh $@ --parallel --max-parallel=4

override_dh_auto_configure:
	./configure \
		--prefix=/usr \
		--datadir=/usr/share/games/$(PKG) \
		--libdir=/usr/lib/games \
		--enable-release \
		--app=caveexpress
	cp contrib/icon.xpm debian/$(PKG).xpm

override_dh_auto_build:
	$(MAKE) data $(PKG) -j4 Q=
