body {
	background: none no-repeat scroll 0 0 #000000;
	margin: 0px;
	padding: 0px;
	color: #888888;
	line-height: 1.3;
	font-family: tahoma, verdana, arial, sans-serif;
	font-size: 14px;
}

#main {
	width: 980px;
	margin: 0 auto;
}

#top {
	margin: 0px;
	padding: 0px;
}

#content {
	width: 100%;
}

#content .header {
	vertical-align: middle;
	text-align: center;
	background-image: url(../images/caveexpress.jpg);
	width: 980px;
	height: 500px;
	margin-bottom: 20px;
	border-bottom: 1px dotted white;
}

#bottom {
	margin-top: 3em;
}

#screenshots {
	margin-bottom: 20px;
	padding-top: 20px;
	border-top: 1px dotted white;
	border-bottom: 1px dotted white;
}

.spacer {
	width: 1024px;
	height: 1px;
	display: block;
	clear: both;
}

.screenshot {
	padding: 0px;
	border: 1px solid #666666;
}

#footer {
	margin: 30px auto 0;
	padding: 11px 20px;
	display: block;
	clear: both;
}

.links ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.links li {
	float: left;
	margin: 0;
	padding: 0 8px;
}

.stores ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.stores li {
	margin: 0;
	padding: 0 8px;
}

#copyright {
	text-align: right;
}

a:link {
	text-decoration: none;
	color: #cccccc;
}

a:visited {
	text-decoration: none;
	color: #eeeeee;
}

a:hover {
	color: #eeeeee;
	text-decoration: underline;
}

a:active {
	color: #eeeeee;
	text-decoration: none;
}
